SetEnv PHP_VER 5.3 
RewriteEngine on
RewriteBase /
RewriteRule ^(service.*)$ $1 [L,QSA]
RewriteRule ^refs/index.php.*$ refs/index.php [L,QSA]
RewriteRule ^refs/([A-Za-z]+)$ refs/index.php?key=$1 [L]
RewriteRule api/$ index.php?page=apidoc [L]
RewriteRule ^([A-Za-z]+)$ index.php?page=$1 [L]